.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.toggleButton {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
}

/* Light theme */
.light {
  background-color: #ffffff;
  color: #000000;
}

.light .toggleButton {
  background-color: #1e90ff;
}

/* Dark theme */
.dark {
  background-color: #242629;
  color: #ffffff;
}

.dark .toggleButton {
  background-color: #85d1b0;
}